@import '../../assets/core/mixins/responsive-font-size';
@import '../../assets/core/variables/selectors';

.formatted {
  padding: var(--space-24) var(--space-12);
  color: var(--grey-900);
  background-color: var(--grey-100);
  font-family: var(--webfont-sans);
  @include responsiveFontSize('formatted');

  @media (min-width: $tablet) {
    padding: var(--space-32) var(--space-24);
  }

  @media (min-width: $desktop) {
    padding: var(--space-40) var(--space-32);
  }

  @media (min-width: $widescreen) {
    padding: var(--space-48) var(--space-40);
  }

  :host([mode='dark']) & {
    color: var(--grey-700);
    background-color: var(--grey-900);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--webfont-serif);

  &:first-child {
    margin-top: 0;
  }

  :host([accent]) & {
    color: var(--accent-500);
  }

  :host([accent][mode='dark']) & {
    color: var(--accent-700);
  }
}

h1 {
  margin-top: 0.424em;
  margin-bottom: 0.675em;
  @include responsiveFontSize('h1');
}

h2 {
  margin-top: 0.275em;
  margin-bottom: 0.325em;
  @include responsiveFontSize('h2');
}

h3 {
  margin-top: 0.275em;
  margin-bottom: 0.275em;
  @include responsiveFontSize('h3');
}

h4 {
  margin-bottom: 0.275em;
  @include responsiveFontSize('h4');
}

h5 {
  margin-top: 0.275em;
  margin-bottom: 0.275em;
  @include responsiveFontSize('h5');
}

h6 {
  margin-top: 0.275em;
  margin-bottom: 0.275em;
  @include responsiveFontSize('h6');
}

p,
ol,
ul,
dl {
  margin-top: var(--space-16);
  margin-bottom: var(--space-24);

  :is(h1, h2, h3, h4, h5, h6) + & {
    margin-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin: 0;
  }

  &:only-child {
    margin: 0;
  }
}
