/*
 * Returns a new font-face definition for the existing woff & woff2 files.
 */
@mixin fontFace($path, $name: var(--webfont-sans), $style: normal, $weight: 400) {
  @if $path {
    @font-face {
      src: url('#{$path}.woff2'), url('#{$path}.woff');
      font-family: $name;
      font-style: $style;
      font-weight: $weight;
      font-display: swap;
    }
  }
}
